h5{
    font-size: 35px;
    padding-top: 100px;
}
cite{
    display: block;
    font-size: 14px;
    line-height: 27px;
    color: #53555c;
    margin-bottom: 50px;
}
main li{
    width: 368px;
    overflow: hidden;
    text-align: left;
    border: 1px solid #DBD7D6;
    margin-bottom: 70px;
}
/* 图片 */
.sermons-img{
    overflow: hidden;
    width: 368px;
    height: 202px;
}
.sermons-img img{
    width: 120%;
    height: auto;
}
/* 详细内容 */
.sermons-detail{
    padding: 35px 40px;
    width: calc(100% - 80px);
    height: 164px;
    border-bottom: 1px solid #E2DFDF;
    position: relative;
}
/* 标题 */
.ser-title{
    position: absolute;
    width: calc(100% - 80px);
    transition: all .8s;
    top: 35px;
}
.first{
    left: 40px;
}
.next{
    left: 100%;
}
.sermons-detail span{
    top: 35px;
    line-height: 28px;
}
.sermons-detail span:first-of-type{
    font-size: 14px; 
}
.sermons-detail span em{
    color: #c5841e;
}
.sermons-detail span:last-of-type{
    font-size: 20px;
    font-weight: 600;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
/* 内容 */
.sermons-detail p{
    width: calc(100% - 80px);
    position: absolute;
    top: 145px;
    line-height: 27px;
    font-size: 14px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    transition: all .8s;
}
.sermons-detail .p-first{
    left: 40px;
}
.sermons-detail .p-next{
    left: -100%;
}
/* 图标 */
.icon{
    padding: 25px 40px;
}
.icon i{
    font-size: 25px;
    color: #ADAEB0;
    margin-right: 40px;
}
/* 移动效果 */
main li:hover{
    border: 1px solid transparent;
    box-shadow:10px 20px 30px #DBD7D6;
}
main li:hover .first{
    left: -100%;
}
main li:hover .next{
    left: 40px;
}
main li:hover .first{
    left: -100%;
}
main li:hover .next{
    left: 40px;
}
main li:hover .p-first{
    left: 100%;
}
main li:hover .p-next{
    left: 40px;
}